// Fontes
$fontePrincipal: 'Roboto', sans-serif;

// Cores
$corDeFundo: #f5f6fa;
$corCabecalho: #182C61;
$corTextoBranco: #fff;
$corBotao: #44bd32;
$corBotaoHover: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;