@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

// Funções e Mixins
@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel) + em;
}

// Estilos Gerais
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: variaveis.$tablet) {
        max-width: 80%;
    }
}

header {
    background-color: variaveis.$corCabecalho;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    nav {
        .menu {
            display: flex;

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                    color: variaveis.$corTextoBranco;
                }
            }
        }
    }
}

section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        @media screen and (max-width: variaveis.$tablet) {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }

        @media screen and (max-width: variaveis.$mobile) {
            display: block;
        }
    }

    .product-item {
        img {
            width: 100%;
            border-radius: 16px;
        }

        h4, p {
            margin-top: 8px; 
        }

        @media screen and (max-width: variaveis.$mobile) {
            margin-bottom: 32px;
        }
    }

    .product-button {
        display: block;
        background-color: variaveis.$corBotao;
        color: variaveis.$corTextoBranco;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        
        &:hover {
            background-color: variaveis.$corBotaoHover;
        }
    }
}